body {
  background-color: rgb(9, 97, 197);
  color: white;
  font-family: verdana, "Franklin Gothic Medium", sans-serif;
}

#top {
  padding: 10px;
}

#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#form {
  display: flex;
  flex-direction: row;
  min-width: 400px;
}

#top-right {
  display: flex;
  justify-content: end;
  width: 500px;
  align-items: center;
}

#units-btn {
  border: none;
  border-radius: 5px;
  height: 2rem;
  width: 80px;
  background-color: #2196f3;
  color: white;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
}

#search-text {
  padding: 10px;
  font-size: 17px;
  float: left;
  border: none;
  width: 80%;
  background: #f1f1f1;
}

#search {
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: none;
  border-left: none;
  cursor: pointer;
}

#today-container {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  justify-content: space-between;
}

#left {
  display: grid;
  grid-template-areas:
    "icon temp feels-like"
    "icon temp humidity"
    "icon temp wind-speed";
  min-width: 400px;
}

#icon {
  grid-area: icon;
  justify-self: center;
  align-self: center;
}

#today-temp {
  grid-area: temp;
  font-size: 70px;
  justify-self: left;
  align-self: center;
  padding-right: 15px;
  border-right: 1px solid white;
  margin-right: 5px;
}

.smaller {
  font-size: 25px;
  position: relative;
  bottom: 32px;
}

#feels-like {
  grid-area: feels-like;
  justify-self: left;
  align-self: center;
}

#humidity {
  grid-area: humidity;
  justify-self: left;
  align-self: center;
}

#wind-speed {
  grid-area: wind-speed;
  justify-self: left;
  align-self: center;
}

#right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  padding-bottom: 5px;
  width: 500px;
  min-width: 300px;
}

#place-name {
  font-size: 45px;
}

#description {
  font-size: 25px;
}

#time {
  font-size: 15px;
}

#forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 50px;
  overflow: auto;
}

#div-instance {
 min-width: 150px;
 align-items: center;
 border-right: solid white 1px;
 border-top: solid white 1px;
 text-align: center;
 width: 90vw;
 padding: 20px;
 justify-content: space-evenly;
}

#dateF {
  font-weight: bold;
}

#timeF {
  font-weight: bold;
}
#tempF {
  font-weight: bold;
}

@media (max-width: 800px) {
  

  body {
    display: flex;
    flex-direction: column;
    background-color: rgb(9, 97, 197);
    
  }

  #top {
    width: 100%;
    position: fixed;
    align-self: center;
    height: 45%;
    background-color: rgb(9, 97, 197);
    z-index: 1;
    top: 0px;
  }

  #top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
  }

  #today-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  #div-instance {
    border-right: none;
  }

  #left {
    max-width: 400px;
  }
  #right {
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
  }
  
  #top-right {
  }

  #top-bar {
  }

  #forecast {
    flex-direction: column;
    position: relative;
    top: 500px;
    z-index: 0;
  } 

  
}
